.partner li {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  justify-content: space-around;
}

.menu li a {
  width: 5rem;
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 0.7rem;
}

#black_nav a {
  color: white;
  text-decoration: none;
  font-size: 0.6rem;
}
