body{
    font-family: 'Lato', sans-serif;
    background-image: url('images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    row-gap: 0;
    padding-top: 15%;
    padding-bottom: 15%;
}

#hello {
    font-weight: 400;
    margin-bottom: 2%;
}

.welcome h1 {
    font-weight: 900;
    font-size: 1.8rem;
    color: purple;
    margin-top: 0;

}

.description {
    font-weight: 300;
    padding: 2%;
}

#date {
    font-weight: 900;
    margin-bottom: 0;
}

#event {
    border: solid black;
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}


#event ul {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0;
    list-style-type: none;    
    gap: 0.5rem;
}

#event li {
    width: 100%;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.5rem;
    background-color: rgba(128, 0, 128, 0.2); 
}

.event_logo {
    width: 15%;
    height: 15%;
    margin: 1rem;
}

.event_name {
    width: 4.5rem;
    margin: 0 1rem 0 0.5rem;
    color: purple;
    font-weight: 700;
    font-size: 1rem;
}

#event button {
    margin: 7% 0 7% 0;
    width: 60vw;
    height: auto;
    padding: 6%;
    color: white;
    background: purple;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.03em;
    transition: all 0.5s;
    border: none;
    align-items: center;
}

#lineup {
    display: none;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid grey;
    padding-top: 10vh;
}

.hello_about {
    margin-bottom: 1%;
}

.about h1 {
    align-self: center;
    margin: 0 auto;
    color: purple;
    font-weight: 900;
    font-size: 2rem;
}

.about p {
    align-items: center;
}

#partnerships {
    display: flex;
    align-items: center;
    justify-content: center;
}

#partnerships ul {
    border: solid green;
    display: flex;
    width: 90%;
    padding: 0;
    list-style-type: none;    
    gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
}

.partner li {
    width: 100%;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.5rem;
    background-color: rgba(128, 0, 128, 0.2); 
}

@media only screen and (min-width: 768px) {
body{
  padding: 0;
  overflow-x: hidden;
}

#welcome {
    height: 70vh;
    width: 100vw;
    margin: 0;
    padding: 10%;
}

#hello {
font-size: 3rem;
margin-bottom: 0;
}

.welcome h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

.description {
    width: 60%;
}

#date {
  font-size: 2.5rem;
  margin-bottom: 0;
}

#location {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

#event {
    margin: 0;
    padding: 10%;
    background-color: rgba(0, 0, 0, 0.9); 


}

#event h2 {
    color: white;
    margin-bottom: auto;

}

#event ul {
display: flex;
flex-direction: row;
margin: 0;
width: 100%;
list-style-type: none;    
gap: 0.5rem;
}

.event_logo {
    filter: invert(1);
    width: 15%;
    height: 25%;
    margin: 1rem;
}

#event li {
color: white;
padding: 1rem;
margin: 0;
display: flex;
flex-direction: column;
list-style-type: none;
justify-content: center;
align-content: center;
align-items: center;
font-size: 0.8rem;
background-color: rgba(255, 255, 255, 0.1); 
}

.event_name {
color: pink;
margin: 0;
padding: 0;
width: 100%;
font-weight: 900;
font-size: 1.2rem;
}

#event button, .hello_about {
    display: none;
}

#lineup, a {
    display: flex;
    display: flex;
    color: white;
    margin-top: auto;   
    padding: 3rem;

}

#about {
    padding-top: 5vh;
    text-align: center;
}

.about h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

#about_description {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 1.3rem;
    line-height: 1.5rem;
    border: solid 1px rgba(22, 10, 10, 0.164);
    padding: 2rem 4rem;
    background-color: white;
}

#contact {
    display: inline-block;
    width: 65%;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 5rem;
    font-size: 1.3rem;
}

span {
    text-decoration: underline;
}

span:after {
    position: absolute; /* Prevent underline of arrow */
    padding-left:2px; /* Add a little space between text and arrow */
    content: "\00bb"; /* Unicode hex for &raquo; */
}

#logo {
    padding: 3rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#logo_copyright {
    margin: 0;
    width: 70%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.line {
    border-bottom: 1px solid rgb(189, 186, 186);
    margin-bottom: 1rem;
    width: 5%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.goat_logo {
    width: 30%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.long_line {
    border-bottom: 0.1rem solid rgb(189, 186, 186);
    margin-bottom: 1rem;
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;

}

}